.hover-effect:hover {
    color: orangered; 
    cursor: pointer; 
   
  }
  .responsive-h1 {
    font-size: 100px; 
    color:orange;
  } 
  .hover-effect{
    font-size: 2vw; 
  }

  @media (max-width: 1200px) {
   
    .responsive-h1{
        font-size: 50px; 
    }
    .hover-effect {
      font-size: 20px; 
    }
  }
  
  @media (max-width: 768px) {
    .responsive-h1 {
      font-size: 60px; 
    }
    .hover-effect {
      font-size: 20px; 
    }
  }
  
  